<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">{{page_name}}</h4>

                <span class="widget-toolbar">

                </span>
            </div>
            <div class="widget-body">
                <div class="widget-main">

                    <form ng-submit="saveModule()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Template Name</label>
                                        <input class="form-control" type="text" id="name" ng-model="module.name" placeholder="Template Name" required />
                                    </div>

                                    <div class="col-md-12">
                                        <label>Description</label>
                                        <textarea class="form-control" type="text" id="description" ng-model="module.description" placeholder="Description" required />
                                    </div>

                                    <div class="col-md-12">
                                        <label>Template Editor</label>
                                        <ng-ckeditor ng-model="module.html" id="html" skin="moono" remove-buttons="Image" remove-plugins="iframe,flash,smiley" msn-count="
                                         Number of typed characters:"></ng-ckeditor>
                                    </div>

                                    <div class="col-md-12">
                                        <label>template text</label>
                                        <input class="form-control" type="text" id="text" ng-model="module.text" placeholder="Template text" required />
                                    </div>

                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-actions pull-right">
                                    <button type="button" ui-sref="{{JCOMPONENT.template_list_view}}" ng-show="true" class="btn btn-sm btn-danger">
                                        <i class="ace-icon fa fa-close"></i> Cancel
                                    </button>

                                    <button type="reset" ng-show="current_state===JCOMPONENT.template_add_view" class="btn btn-sm btn-warning">
                                        <i class="ace-icon fa fa-recycle"></i> Reset
                                    </button>

                                    <button type="submit" ng-if="hasPermission(JMODULE_NAME, JCOMPONENT.template_add_view) || hasPermission(JMODULE_NAME, JCOMPONENT.template_update)" class="btn btn-sm btn-primary">
                                        <i class="ace-icon fa fa-check-circle"></i>
                                        <span ng-if="current_state===JCOMPONENT.template_add_view" >Save</span>
                                        <span ng-if="current_state===JCOMPONENT.template_update" >Update</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>