<div class="row" ng-init="getDataList()">
    
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="input-group width350" style="float: left; margin-right: 8px;">
            <span class="input-group-addon">Module</span>
            <select class="form-control" id="module" ng-model="module" style="float: left; margin-right: 8px;">
                <option value="ALL">All</option>
                <option ng-repeat="obj in moduleList track by $index" ng-value="obj">{{obj}}</option>
            </select>
        </div>
    </div>
    
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="simple-table" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Module</th>
                    <th>Parent name</th>
                    <th>Is Menu</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in list track by $index" ng-if=" obj.module === module || obj.root_module === module || obj.parent_name === module || obj.feature_name === module || module === 'ALL' ">
                    <td>{{obj.feature_name}}</td>
                    <td>{{obj.type}}</td>
                    <td>{{obj.root_module}}</td>
                    <td>{{obj.parent_name}}</td>
                    <td>
                        <span class="label label-sm label-success" ng-show="obj.is_menu===true">YES</span>
                        <span class="label label-sm label-warning" ng-show="obj.is_menu===false">NO</span>
                    </td>
                    
                    <td>
                        <button class="btn btn-sm btn-warning" ng-click="showEditForm(obj)"> <i class="ace-icon fa fa-edit"></i> Edit</button>
                        <button class="btn btn-sm btn-danger" ng-click="activeInactive(obj, false)" ng-show="obj.active === true" > <i class="ace-icon fa fa-trash"></i> Deactivate</button>
                        <button class="btn btn-sm btn-success" ng-click="activeInactive(obj, true)" ng-show="obj.active === false" > <i class="ace-icon fa fa-check-circle"></i> Activate</button>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>