<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" ng-init="getFeatureList()">

        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">{{page_name}}</h4>

                <span class="widget-toolbar">
                    
                </span>
            </div>
            <div class="widget-body">
                <div class="widget-main">

                    <form ng-submit="saveModule()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">

                                    <div class="col-md-6">
                                        <label>Feature Code</label>
                                        <input class="form-control" type="text" id="feature_code" ng-model="module.feature_code" placeholder="Feature Code"/>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <label>Feature Type</label>
                                        <select class="chosen-select form-control" ng-model="module.type" ng-change="onChangeFeatureType(module.type)">
                                            <option value="">Choose</option>
                                            <option ng-repeat="obj in typeList track by $index" value="{{obj.name}}">
                                                {{obj.name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <label>Feature Name</label>
                                        <input class="form-control" type="text" id="feature_name" ng-model="module.feature_name" placeholder="Feature Name" required />
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <label>Sort Order</label>
                                        <input class="form-control" type="text" id="sort_order" ng-model="module.sort_order" placeholder="Sort Order"/>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <br />
                                        <label>
                                            <input ng-model="module.is_menu" class="ace" type="checkbox">
                                            <span class="lbl"> Is Menu?</span>
                                        </label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <label ng-show="showNeedPermission===1">
                                            <input ng-model="module.need_permission" class="ace" type="checkbox">
                                            <span class="lbl"> Need Permission?</span>
                                        </label>
                                    </div>

                                    <div class="col-md-12" ng-show="showModule===1">
                                        <label>Module</label>
                                        <input class="form-control" type="text" ng-model="module.module" placeholder="Module" />
                                    </div>
                                    
                                    <div class="col-md-12" ng-show="showController===1">
                                        <label>Controller</label>
                                        <input class="form-control" type="text" ng-model="module.controller" placeholder="Controller" />
                                    </div>
                                    
                                    <div class="col-md-12" ng-show="showAction===1">
                                        <label>Action</label>
                                        <input class="form-control" type="text" ng-model="module.action" placeholder="Action" />
                                    </div>
                                    
                                    <div class="col-md-6" ng-show="showComponent===1">
                                        <label>Component</label>
                                        <input class="form-control" type="text" ng-model="module.component" placeholder="Component" />
                                    </div>
                                    <div class="col-md-6" ng-show="showComponent===1">
                                        <label>Url</label>
                                        <input class="form-control" type="text" ng-model="module.url" placeholder="Url" />
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">

                                    <div class="col-md-12">
                                        <label for="note">Note</label>
                                        <textarea class="form-control" id="note" ng-model="module.note" placeholder="Note"></textarea>
                                    </div>
                                    
                                    <div class="col-md-12" ng-show="showModuleOnly===1">
                                        <label>Parent</label>
                                        <select class="chosen-select form-control" ng-model="module.parent_id">
                                            <option value="">Choose</option>
                                            <option ng-repeat="obj in featureList track by $index" ng-value="obj.feature_id" ng-if="obj.type==='Module' || obj.type==='module'">
                                                {{obj.feature_name}}
                                            </option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-md-12" ng-show="showParent===1">
                                        <label>Parent</label>
                                        
                                        <div class="well well-lg" style="height: 300px; overflow: auto;padding: 3px;">

                                            <div class="widget-box" ng-repeat="module in featureList track by $index" ng-if="module.type==='Module' || module.type==='module'">

                                                <div class="widget-header widget-header-flat widget-header-small">
                                                    <h4 class="widget-title">{{module.feature_name}}</h4>

                                                    <span class="widget-toolbar">

                                                    </span>
                                                </div>
                                                <div class="widget-body">
                                                    <div class="widget-main" style="min-height: 20px;">
                                                        <div class="row">
                                                            <div class="col-lg-4" ng-repeat="obj in featureListFg track by $index" ng-if="obj.parent_id===module.feature_id && (obj.type==='Feature Group' || obj.type==='feature group')">
                                                                <label ng-click="updateValue(obj.feature_id)">
                                                                    <input name="feature_parent_id" ng-model="feature_parent_id" ng-value="obj.feature_id" class="ace" type="radio">
                                                                    <span class="lbl"> {{obj.feature_name}}</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-actions pull-right">
                                    <button type="button" ui-sref="{{JCOMPONENT.feature_list_view}}" ng-show="true" class="btn btn-sm btn-danger">
                                        <i class="ace-icon fa fa-close"></i> Cancel
                                    </button>
                                    
                                    <button type="reset" ng-show="current_state===JCOMPONENT.feature_add_view" class="btn btn-sm btn-warning">
                                        <i class="ace-icon fa fa-recycle"></i> Reset
                                    </button>

                                    <button type="submit" class="btn btn-sm btn-primary">
                                        <i class="ace-icon fa fa-check-circle"></i> 
                                     <span ng-if="current_state===JCOMPONENT.feature_add_view" >Save</span> 
                                     <span ng-if="current_state===JCOMPONENT.feature_update" >Update</span>
                                    </button>
                                </div>
                            </div>

                        </div>        
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>